<div style="padding: 2rem">
  <h2>Log in</h2>
  <div style="padding: 2rem">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "required-field", :style => "margin: 0px 144px 10px 17px;" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "required-field", :style => "margin: 0px 114px 10px 17px;" %>
        <%= f.password_field :password, autocomplete: "current-password", :required => true, placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check" style="margin: 30px 0px 0px 17px;">
          <%= f.check_box :remember_me, :class => "form-check-input" %>
          <%= f.label :remember_me, :class => "form-check-label" %>
        </div>
      <% end %>

      <div class="actions" style="margin: 10px 17px 20px 10px;">
        <%= f.submit "Log in", class: 'btn btn-success' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>